body {
    font-family: 'Roboto Slab', serif;
}

.search-data input {
    width: 10vw;
}

tr {
    min-height: 106px !important;
}

.top-level-button {
    margin-right: 2em;
}

.header-row {
    font-weight: bold;
    font-size: larger;
}

.details-title {
    float:left;
}

.details-close {
    float: right;
}

.detail-kind {
    font-style: italic;
}