body {
    font-family: 'Roboto Slab', serif;
}

.search-data input {
    width: 10vw;
}

tr {
    min-height: 106px !important;
}

.top-level-button {
    margin-right: 2em;
}

.header-row {
    font-weight: bold;
    font-size: larger;
}

.details-title {
    float:left;
}

.details-close {
    float: right;
}

.detail-kind {
    font-style: italic;
}

.toplevel-buttons {
    min-height: 48px;
}

.details-title {
    font-weight: bold;
    font-size: x-large;
}

.settings {
    border-bottom: 2px dashed black;
}

.summary-info {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: clip;
}