body {
    font-family: 'Roboto Slab', serif;
}

.search-data input {
    width: 10vw;
}

tr {
    min-height: 106px !important;
}

.top-level-button {
    margin-right: 2em;
}

.header-row {
    font-weight: bold;
    font-size: larger;
}

.detail {
    padding-top: .5em;
    border-bottom: lightgray 2px dotted;
}

.detail-kind {
    font-style: italic;
}

.detail-buttons {
    padding-top: 1em;
}

.detail-buttons button{
    margin-right: .5em;
}

.detail-content span {
    overflow-wrap: anywhere;
}

.toplevel-buttons {
    min-height: 48px;
}

.details-title {
    font-weight: bold;
    font-size: x-large;
}

.details-employer {
    font-weight: bold;
    font-size: larger;
}

.details-jobtitle {
    font-weight: bold;
    font-size: larger;
}

.settings {
    border-bottom: 2px dashed black;
}

.summary-info {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: clip;
}

.filter-range-lavel {
    text-align: right;
}

.input-area {
    width:80% !important;
}

.warning-button {
    background-color: orange;
}

.danger-button {
    background-color: red;
}

.export-explanation {
    margin-left: 1em;
}

.export-explanation-warning {
    color: red;
}

.export-data-error {
    color: red;
    font-style: italic;
}

.export-data-success {
    color: green;
    font-style: italic;
}

.import-data-error {
    color: red;
    font-style: italic;
}

.warning-text {
    color: darkmagenta;
}